<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Tomato VPN Switcher</title>
    {% endblock %}
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1>
                {% block header %}
                {% endblock %}
            </h1>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="main-footer">
        <div class="container">
            {% block footer %}
            <small><a href="https://github.com/haframjolk/tomato-vpn-switcher" target="_blank">Tomato VPN Switcher</a> by Reyn Alpha</small>
            {% endblock %}
        </div>
    </footer>
</body>
</html>
