{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}Tomato VPN Switcher{% endblock %}
{% block content %}

<form id="vpnform" class="form" method="POST" action="/submit">
    <fieldset class="form__hosts">
        <legend>Hosts</legend>
        {% for host in hosts %}
        <div class="form__value">
            <input id="host-{{ host['address'] }}"
                   type="radio"
                   name="host"
                   value="{{ host['address'] }}"
                   required
                   {{ 'checked' if status['server'] == host['address'] else '' }}
            >
            <label for="host-{{ host['address'] }}">{{ host["name"] }} ({{ host["address"] }})</label>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset class="form__status">
        <legend>VPN status</legend>
        <div class="form__value">
            <input id="enabled-false"
                   type="radio"
                   name="enabled"
                   value="off"
                   required
                   {{ 'checked' if not status['enabled'] else '' }}
            >
            <label for="enabled-false">Off</label>
        </div>

        <div class="form__value">
            <input id="enabled-true"
                    type="radio"
                    name="enabled"
                    value="on"
                    required
                    {{ 'checked' if status['enabled'] else '' }}
            >
            <label for="enabled-true">On</label>
        </div>
    </fieldset>

    <button class="button button--submit">Submit</button>
</form>

<form id="vpnstatus" class="vpnstatus" method="POST" action="/set_vpn_status">

</form>

{% endblock %}
